
	<head> 
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>


<div class="container">
    <h1> Looking for Help</h1> 
    <hr></h3>

<br>




	<div class ="input-group col-lg-3">
		<input type = "text" class = "form-control" placeholder = "Enter Some Text">
		<span class = "input-group-btn">
			<button class = "btn btn-primary">Search</button>
		</span>
	
	</div>

	<div class ="input-group col-lg-3 input-group-sm">
		<input type = "text" class = "form-control" placeholder = "Enter Some Text">
		<span class = "input-group-btn">
			<button class = "btn btn-primary">Search</button>
		</span>
	
	</div>
</div>