<h1>Comments#create</h1>
<head> 
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<p>Find me in app/views/comments/create.html.erb</p>

<%= form_for [@comment] do |f| %>
<% end %>